configuration {
	width: 30;
	lines: 10;
	columns: 2;
	font: "Hack Nerd Font 12";
	show-icons: true;
	line-margin: 10;
	display-window: "";
	display-run: "";
	display-ssh: "";
	display-drun: "";
	display-combi: "";
}
@theme "~/.config/rofi/nord.rasi"
