configuration {
	width: 30;
	lines: 6;
	columns: 2;
	font: "Hack Nerd Font 16";
	show-icons: true;
	line-margin: 10;
	theme: "~/.config/rofi/nord.rasi";
	display-window: "";
	display-run: "";
	display-ssh: "";
	display-drun: "";
	display-combi: "";
}
